 <h1 id="Title">Import a CSV File</h1>
<% @forms_import.errors.full_messages.each do |msg| %>
    <li id="errors"><%= msg %></li>
<% end %>


 <div><bgcolor>
<%= form_tag '/forms_import', multipart: true do %>
    <%= file_field_tag :file, accept: '.csv' %>
    Sigma:
    <%= radio_button_tag :row, :cosmo_sigma %>
    Web:
    <%= radio_button_tag :row, :cosmo_web %>
    <%= submit_tag "Import CSV" %>

<% end %>
   </bgcolor>
 </div>



<br>