<div id = "body_background">
<div id="import_page">Import CSV File</div>
  <div id="errors_explained"><ul><h3>Errors explained</h3>
    <div id="errors_text"><li>Error messages will look like the following:   "In Row X:  (Error message) : [[HEADERS]] - [Data]"</li>
      <br>
      <li>Illegal Characters are:</li>
      <ul><li>!<br></li>
        <li>$<br></li>
        <li>;<br></li>
        <li>\<br></li>
        <li>'<br></li>
        <li>"<br></li></ul>
      <ul>(All Illegal characters will be highlighted. The easiest fix for illegal characters: ctrl+f and search for the illegal characters, replace or delete the illegal characters as appropriate)</ul>
      <li>Headers will be displayed inside double brackets [[HEADERS]]</li>
      <li>Data inside cells will be displayed inside brackets [DATA]</li>
      <li>[] - means that the cell is empty</li>
      <li>In Row X : indicates which row in the CSV file the error was found</li>



      <br> <%= button_to "Refresh", root_url, :method => :get %>
    </div>

  </ul></div>

<div id="following_message">
  <div id="notice"><%= flash[:notice] %></div>
  <% @forms_import.errors.full_messages.each do |msg| %>
     <div id="errors"><%= msg.gsub(/(?<foo>[!$;'″"\\])/, "<mark>\\k<foo></mark>" ).html_safe %>
</div><% end %>
 <div>


<%= form_tag forms_imports_path , multipart: true do %>
    <%= file_field_tag :file, accept: '.csv', required: 'required' %>
       Web:
       <%= radio_button_tag :row, :cosmo_web, required: 'required' %>
       Sigma:
    <%= radio_button_tag :row, :cosmo_sigma, required: 'required' %>

    <%= submit_tag  "Import CSV File"%>

<% end %>
 </div>
</div>
</div>